/Projet_DWA_2/nbproject/private/
/Projet_DWA_2/build/
/Projet_DWA_2/dist/
/Test/nbproject/private/
/Test/build/
/Test_WebSocket/nbproject/private/
/Test_WebSocket/build/
/Test_WebSocket2/nbproject/private/
/Test_WebSocket2/build/
/test_maven_websocekt/target/
/encore_un_test/nbproject/private/
/encore_un_test/build/
/JavaApplication4/nbproject/private/
/WebApplication1/nbproject/private/
/WebApplication2/nbproject/private/
/WebApplication3/nbproject/private/
/WebApplication4/nbproject/private/
/WebApplication5/nbproject/private/
/WebApplication6/nbproject/private/
/WebApplication7/nbproject/private/
/WebApplication8/nbproject/private/
/WebApplication9/nbproject/private/
