/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 25 avr. 2022, 21:15:42
    Author     : fred2
*/


body {
    margin: 0;
    padding: 0;
    min-width: 800px;
    width: auto;
    overflow: hidden;
}

#app {
    display: grid;
    grid-template-columns: 80% auto;
    grid-template-rows: auto;
    height: 100vh;
    
    
}
#main {
    grid-column: 1;
    grid-row: 1;
    background-color: black;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 5% auto;
    height: 100vh;
}
#main #header {
    grid-column: 1;
    grid-row: 1;
    background-color: #f9f7f7;
    border-color: #44aef0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #aaaaaa;
    padding: 0;
}
#main .tab {
    border: 1px solid #aaaaaa;
    border-bottom: none;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#main .tab.selected {
    border-color: #44aef0;
    color: #eeeeee;
    background-color: #44aef0;
}
#main #main-content {
    grid-column: 1;
    grid-row: 2;
    background-color: #ffffff;
    padding: 2%;
    overflow: auto;
}
#main-content hr {
    border: 2px solid #D3D3D3;
    border-radius: 5px;
    width: 90%;
    margin-top: 40px;
}
#main-content .profile {
    overflow: auto;
}
#main-content .profile span {
    font-size: 1.5rem;
}
#main-content .profile .history_part {
    margin-top: 3%;
    margin-left: 5%;
}
#main-content .profile .tetepseudo{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
}
#main-content .pseudo {
    font-size: 4rem;
    color: #2F4F4F;
    font-style: italic;
    margin-right: 5%;
}
#main-content .profile button {
    width: fit-content;
    height: 40px;
    border: none;
    outline: none;
    background: #D3D3D3;
    border-radius: 10px;
    cursor: pointer;
}
#main-content .profile button:hover {
    background: #A9A9A9;
    color: #ffffff;
}
#main-content .info, #main-content .data {
    margin-top: 3%;
    display: block;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 2rem;
}
#main-content .info {
    line-height: 3.5rem;
    margin-left: 5%
}
#main-content .data {
    font-size: 1rem;
    white-space: wrap;
    line-height: 3rem;
    margin-left: 5%
}
#main-content .profile table {
    text-align: center;
    border-spacing: 20px;
    border-collapse: collapse;
    margin: 5%;
}
#main-content .profile table tr :nth-child(6) {
    border: none;
}
#main-content .profile table td {
    border: solid 1px black;
    width: 1%;
}
#main-content .info div, #main-content .data div {
    white-space: nowrap;
}
#main-content .game {
    display: flex;
    flex-direction: column;
    width: 100%;
    height:auto;
    min-width: 650px;
}
#main-content .game .info_tour {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    justify-content: center;
    align-content: center;
    width: 80%;
}
#main-content .game .player_points {
    width: 25%;
    min-width: fit-content;
}
#main-content .game .players {
    display: flex;
    flex-direction: row;
    padding: 2%;
    width: 95%;
}
#main-content .game .player {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 5%;
    padding: 2%;
    font-size: 1.3rem;
    color: #aaaaaa;
    border: solid 2px #aaaaaa;
}
#main-content .game .player.current {
    color: #44aef0;
    border: solid 4px #44aef0;
}
#main-content .game .game_side {
    margin-top: 50px;
}
#main-content .game .center-token {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}
#main-content .game .message {
    text-align: center;
    grid-column: 2;
    grid-row: 3;
    height: 100%;
    font-size: 5rem;
    overflow: visible;
    color: #44aef0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
#main-content .game .dices {
    grid-column: 2;
    grid-row: 4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#main-content .game .dices .dice {
    font-size: 5rem;
    width: 7rem;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000000;
    border-radius: 20px;
    border: solid 5px #44aef0;
    color: #44aef0;
    margin-right: 4%;
    margin-left: 4%;
    margin-top: 70px;
    cursor: pointer;
}
#main-content .game .dices .dice.selected {
    color: #ffffff;
    background-color: #44aef0;
}
#main-content .game span {
    display: flex;
    margin-top: 5px;
    color: #44aef0;
    justify-content: center;
    align-items: center;
}
#main-content .game .bottom {
    margin-top: 60px;
    grid-column: 2;
    grid-row: 5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center ;
    height: 100%;
}
#main-content .game .bottom button {
    margin-top: 20px;
    width: 20%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    background: #D3D3D3;
    border-radius: 10px;
    cursor: pointer;
}
#main-content .game .top {
    grid-column: 2;
    grid-row: 1;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#users {
    grid-column: 2;
    grid-row: 1;
    border: solid 2px #44aef0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 8% auto 10%;
    max-height: 100vh;
}
#users #header {
    display: flex;
    grid-row: 1;
    grid-column: 1;
    justify-content: center;
    align-items: center;
    background-color: #44aef0;
    border-color: #44aef0;
    color: #eeeeee;
    font-size: 1.5rem;
    height: 100%;
}
#users #list {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.user {
    display: flex;
    justify-content: flex-start;
    background-color: transparent;
    border: 2px solid #44aef0;
    font-size: 1.2rem;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
    color: #44aef0;
}
.user.selected {
    background-color: #44aef0;
    color: #eeeeee;
}
#users #footer {
    grid-column: 1;
    grid-row: 3;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#users #footer button {
    background-color: #44aef000;
    border: solid 3px #44aef0;
    border-radius: 20px;
    color: #44aef0;
    width: 90%;
    height: 90%;
    font-size: 1.2rem;
    margin-bottom: 15px;
}
#users #footer button.enable:hover {
    background-color: #44aef0ff;
    color: #ffffff;
}
#users #footer button.disabled {
    border: solid 3px #aaaaaa;
    color: #aaaaaa;
}
#users #footer button.disabled:hover {
    border: solid 3px #aaaaaa;
    color: #aaaaaa;
}
#btnshutpage {
    margin-top: 40px;
    width: 40%;
    height: 50px;
    border: none;
    outline: none;
    font-size: 16px;
    background: #b9b1b1;
    border-radius: 10px;
    cursor: pointer;
}
#popup {
    position: absolute;
    background-color: white;
    width: 25%;
    height: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px 30px;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
    border-radius: 10px;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}


#popup .form h2 {
    text-align: center;
    color: #222;
    margin: 10px 0px 20px;
    font-size: 25px;
}
#popup .form .form-element {
    margin: 15px 0px;
}
#popup .form .form-element label {
    font-size: 14px;
    color:#222;
}
#popup .form .form-element input[type="text"],
#popup .form .form-element input[type="password"] {
    margin-top: 5px;
    display: block;
    width: 90%;
    padding:10px;
    outline:none;
    border:1px solid #aaa;
    border-radius: 5px;
}
#popup .form .form-element button {
    margin-top: 20px;
    width: 50%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    background: #D3D3D3;
    border-radius: 10px;
    cursor: pointer;
}
#popup .form .form-element button:hover {
    background: #A9A9A9;
    color: #ffffff;
}
#popup .form .error {
    margin-top: 2px;
    display: block;
    color: red;
    font-size: 0.7rem;
    margin-bottom: 1%;
    width: 90%;
}
#popup .title {
    grid-row: 1;
    grid-column: 1;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #44aef0ff;
    width: 95.1%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: #eeeeee;
}

#popup .content {
    grid-row: 2;
    grid-column: 1;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 5%;
    width: 90%;
    height: 100%;
}


#popup .auth .content input {
    margin-bottom: 5%;
    background-color: #44aef000;
    border: solid 2px #44aef0;
    border-radius: 5px;
    color: #111111;
    height: 30%;
    font-size: 1.2rem;
}
#popup .auth .content input#password {
    margin-bottom: 5%;
    background-color: #44aef000;
    border: solid 2px #44aef0;
    border-radius: 5px;
    color: #111111;
    height: 30%;
    font-size: 1.2rem;
}
#popup .auth .content button {
    background-color: #44aef000;
    border: solid 2px #44aef0;
    border-radius: 20px;
    color: #44aef0;
    margin-left: 5px;
    height: 50%;
    font-size: 1.2rem;
}
#popup .auth .content button:hover {
    background-color: #44aef0ff;
    border: solid 2px #44aef0;
    border-radius: 20px;
    color: #ffffff;
    margin-left: 5px;
}
#popup .auth span {
    cursor: pointer;
    color : cadetblue;
}
#popup .auth span:hover {
    color : rgb(91, 189, 192);
}
#popup .content .error {
    color: red;
    font-size: 1rem;
    margin-bottom: 1%;
}
#popup .player-order {
    height: fit-content;
}
#popup .content .footer {
    grid-column: 1;
    grid-row: 3;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#popup .content .footer button {
    margin-top: 20px;
    width: fit-content;
    height: 40px;
    border: none;
    outline: none;
    background: #D3D3D3;
    border-radius: 10px;
    font-size: 1.2rem;
}
#popup .content .footer button.enable:hover {
    background: #A9A9A9;
    color: #ffffff;
}
#popup .content .footer button.disabled {
    color: #aaaaaa;
}

#popup .list {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
#popup .user {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    font-size: 1.2rem;
    margin-top: 4px;
    margin-left: 2px;
    margin-right: 2px;
    border:1px solid #aaa;
    border-radius: 5px;
    color: #44aef0;
    width: 100%;
}
#popup .user.selected {
    background-color: #44aef0;
    color: #eeeeee;
}

#popup .matchmaking {
    height: fit-content;
}

#popup .matchmaking .statut {
    margin-top: 5px;
}
#popup .matchmaking button {
    margin-top: 15px;
    margin-right: 10px;
    margin-top: 20px;
    width: fit-content;
    height: 30px;
    border: none;
    outline: none;
    background: #D3D3D3;
    border-radius: 10px;
    font-size: 0.9rem;
}
#popup .matchmaking button:hover {
    background: #A9A9A9;
    color: #ffffff;
}